@font-face{
	font-family: AnimeAce;
	font-display: swap;
	src: url("../fonts/AnimeAce-Bold.woff2") format("woff2"), url("../fonts/AnimeAce-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: AnimeAcev02;
	font-display: swap;
	src: url("../fonts/AnimeAcev02-Bold.woff2") format("woff2"), url("../fonts/AnimeAcev02-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: AnimeAcev02Italic;
	font-display: swap;
	src: url("../fonts/AnimeAcev02Italic-Bold.woff2") format("woff2"), url("../fonts/AnimeAcev02Italic-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
